<% provide(:title, "About") %>

<h1>About</h1>
<p>
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  is a <a href="abc">book</a> and
  <a href="def">screencast</a>
  to teach web development with
</p>
